textarea {
	resize: none;
	width: 359px;
	height: 350px;
	margin-top: 0px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

label {
	padding-left: 5px;
	padding-top: 4px;
}

br.br1 {
	padding-top: 2px;
}

.padleft {
	padding-left: 10px;
}

.padbot {
	padding-top: 1px;
}