.padtop {
	top: 150px;
}

.spacing {
	padding-top: 20px;
}

.round {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.right {
	position: absolute;
	right: 5px;
}

body {
     margin: 0;
     background: url(../images/shopCU.jpg);
     background-size: 1920px 1080px;
     background-repeat:no-repeat;
    display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}