textarea {
	width: 359px;
	height: 100px;
	margin-top: 0px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 400px;
      margin: 0 auto;
  }
  .carousel {
    width: 125%;
  }
  .padtop {
    padding-top: 50px;
  }

  .padtopsoft {
    padding-top: 30px;
  }
  .setheight {
    height: 300px;

  }

  .padleft {
    padding-left: 50px;
  }

  .padrightsoft {
    padding-right: 5px;
  }

  .commentspad {
    padding-top: 15px;
  }

  .titlepad {
    padding-bottom: 5%;
    padding-top: 5%;
  }

