<div class="container bs-docs-container">
  <div class="row center-block">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
        <div class="bs-docs-section">
            <div class="alert alert-warning alert-dismissible">Warning: these actions are potentialy devastating and irreversible</div>
        </div>
checkColle
      <button ng-click = "checkColle()" class="btn btn-lg btn-warning">C.C.</button>
      <br><hr>
      <div class="btn-group btn-block" ng-repeat="x in collections">
            <button class="btn btn-sm btn-info col-sm-10" style="text-align: left;" ng-click="">
                {{x}}
            </button>
            <button class="btn btn-sm btn-danger col-sm-2" style="text-align: middle;" ng-click="">
                delete
            </button>
      </div>
      <br><hr>
      {{collections}}
      <br><hr>
      
      <div class="input-group">
        <input type="text" class="form-control col-sm-6" style="float: left; width: 50%;" 
               ng-model = "userID" placeholder="user id" aria-describedby="basic-addon2">
        <input type="text" class="form-control col-sm-6" style="float: left; width: 50%;" 
               ng-model = "itemID" placeholder="item id" aria-describedby="basic-addon2">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" style="text-align: middle;" ng-click="addItemToUser(userID,itemID)" 
                  onclick="document.getElementById('userframe').contentWindow.location.reload(true);">Add Item To User</button>
          <button class="btn btn-danger" type="button" style="text-align: middle;" ng-click="removeItemFromUser(userID,itemID)" 
                  onclick="document.getElementById('userframe').contentWindow.location.reload(true);">Remove Item From User</button>
        </span>
      </div><br>
      <div class="input-group">
        <input type="text" class="form-control col-sm-6" style="float: left; width: 50%;" 
               ng-model = "userID2" placeholder="user id" aria-describedby="basic-addon2">
        <input type="text" class="form-control col-sm-6" style="float: left; width: 50%;" 
               ng-model = "itemID2" placeholder="item id" aria-describedby="basic-addon2">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" style="text-align: middle;" ng-click="addUserToItem(userID2,itemID2)" 
                  onclick="document.getElementById('itemframe').contentWindow.location.reload(true);">Add User To Item</button>
          <button class="btn btn-danger" type="button" style="text-align: middle;" ng-click="removeUserFromItem(userID2,itemID2)" 
                  onclick="document.getElementById('itemframe').contentWindow.location.reload(true);">Remove User From Item</button>
        </span>
      </div><br>
                <!--<div class="form-group">
                  <input type="text" class="form-control" id="emailInput" ng-model = "emailInput" placeholder="netID" aria-describedby="basic-addon2">
                </div><br>
                <div class="form-group">
                  <input type="password" id="text" ng-model = "passwordInput" class="form-control" placeholder="Password" required>
                </div>-->
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="...">
          <button ng-click = "clearUsers()" class="btn btn-lg btn-danger">Clear Users</button>
          <button ng-click = "clearItems()" class="btn btn-lg btn-danger">Clear Items</button>
        </div>
    </div>
      <br><hr>
    <div class="col-sm-6">
        <blockquote>users</blockquote>
        <iframe id="userframe" src="/users" style="border:5px rgba(240, 40, 40, 0.41) solid; width:100%;" scrolling="yes"></iframe>
        <br><hr>
        <div class="btn-group btn-block" ng-repeat="x in users">
            <button class="btn btn-sm btn-info col-sm-10" style="text-align: left;" ng-click="">
                {{x.name}}, {{x.email}}, {{x._id}}
            </button>
            <button class="btn btn-sm btn-danger col-sm-2" style="text-align: middle;" ng-click="deleteUser(x._id)">
                delete
            </button>
        </div>
        
    </div>
    <div class="col-sm-6">
        <blockquote>items</blockquote>
        <iframe id="itemframe" src="/items" style="border:5px rgba(240, 40, 40, 0.41) solid; width:100%;" scrolling="yes"></iframe>
        <br><hr>
        <div class="btn-group btn-block" ng-repeat="x in items">
            <button class="btn btn-sm btn-info col-sm-10" style="text-align: left;" ng-click="">
                {{x.title}}, {{x._id}}
            </button>
            <button class="btn btn-sm btn-danger col-sm-2" style="text-align: middle;" ng-click="deleteItem(x._id)">
                delete
            </button>
        </div>
    </div>
  </div>
</div>
