<link href="css/view.css" rel="stylesheet">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tag</a></li>
          <li class="active">Item</li>
        </ol>
      </div>
      <div class="col-lg-4 padtopsoft">
        <carousel interval="myInterval">
          <slide ng-repeat="image in images" active="slide.active">
            <img ng-src="img/{{image}}" style="height:300px; width:auto; margin:0 auto;">
            <div class="carousel-caption">
            </div>
          </slide>
        </carousel>
      </div>

      <div class="col-lg-1"></div>

      <div class="col-lg-7">
        <h2>{{item.title}}
          REALLY REALLY REALLY REALLY REALLY REALLY
          REALLREALRLAWRLAWRLWALRAWL LONG</h2>
        <div class="panel panel-default setheight">
          <div class="panel-body">
            {{item.description}}
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3>${{item.price}}</h3>
        <h5><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Negotiable Price</h5>
        <h5><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Willing to Trade</h5>
      </div>

      <div class="col-lg-3"></div>

      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">David Swagger Chen</div>
          <div class="panel-body">
            <h5>Email: {{item.email}}</h5>
            <h5>Phone: {{item.phone}}</h5>
            <h5>Preferred Method(s) of Contact:</h5>
            <h5><span class="glyphicon glyphicon-ok" aria-hidden="{{item.methods.facebook}}"></span>Facebook</h5>
            <h5><span class="glyphicon glyphicon-ok" aria-hidden="{{item.methods.call}}"></span>Phone Call</h5>
            <h5><span class="glyphicon glyphicon-ok" aria-hidden="{{item.methods.txtmsg}}"></span>Text</h5>
            <h5><span class="glyphicon glyphicon-ok" aria-hidden="{{item.methods.email}}"></span>E-mail</h5>

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <h3>Comments</h3>
        <textarea class="req" tabindex="1" rows="10" id="PostingBody" name="PostingBody" placeholder="Ex. Authentic Air (Slightly polluted)"></textarea>
      </div>
      </div>

    </div>
